body{
	background: linear-gradient(to bottom right,white,#bcbdc4);
	height: 720px;
}


.header{
	position: fixed;
	width: 100%;
	height: 100px;
	background:#142170;
	top: 0;
	left: 0;
	color:white;
	z-index: 7;
	font-family: verdana;
}

#form1{
	left: 700px;
	top: 20px;
	height: 60px;
	width: 180px;
}

#form2{
	left:895px;
	top: 20px;
	height: 60px;
	width: 200px;
}

.submit1{
	left: 1100px;
	top: 39px;
	background:white;
	color: #142170;
	position: fixed;
	z-index: 20;
	height: 22px;
	width: 50px;
	cursor: pointer;
}

.bodyx
{
	position: absolute;
	left: 0;
	top:100px;
	width:100%;
	height: 645px;
}

#intro1{
	top:40px;
	left: 100px;
	font-family: verdana;
	font-size: 30px;
	color: #142170;
	height: 75px;
	width:550px;
}

#intro2{
	top: 30px;
	left: 700px;
	font-size: 40px;
	font-family: verdana;
	color: #142170;
	width:500px;
	height:60px;
}

#form3{
	top:100px;
	left: 800px;
	font-family: verdana;
	font-size: 20px;
	color: #142170;
	width: 450px;
	height: 500px;
}

#namebox{
	width: 140px;
	height: 10px;
	border-radius: 10px/10px;
	background-color: white;
	padding: 10px;
	font-size: 20px;
}

#mailbox,#otpid{
	width: 310px;
	height: 10px;
	border-radius: 10px/10px;
	background-color: white;
	padding: 10px;
	font-size: 20px;
}


.birthday{
	width: 180px;
	height: 10px;
	font-size: 20px;
	border-radius: 10px/10px;
	background-color: white;
	padding: 10px;
}

#address{
	width: 310px;
	height: 75px;
	font-size: 20px;
	border-radius: 10px/10px;
	background-color: white;
	padding: 10px;
}

#SecurityQ{
	width: 330px;
	height: 25px;
	border-radius: 10px/10px;
	background-color: white;
	font-size: 15px;

}

#button2{
	width: 150px;
	height: 30px;
	top:460px;
	left: 100px;
	background-color:green;
	position: absolute;
	color: white;
	border-radius: 15px/15px;
	cursor: pointer;
	outline: none;
	font-size: 15px;
}

#verifybtn{
	width: 150px;
	height: 30px;
	top:460px;
	left: 100px;
	background-color:green;
	position: absolute;
	color: white;
	border-radius: 15px/15px;
	cursor: pointer;
	outline: none;
	font-size: 15px;
}


